.network-icon img {
  height: 2rem;
  width: 2rem;
}

.graduation-cap-icon{
  height:1.5rem;
  width:1.5rem;
  color: #343a40;
  margin-right: 12px;

}

.edu-item{
  display: flex;
}

.contact-icon{
  display: flex;
  align-items: center;
}

.contact-icon img{
  margin-right: 12px;
  width: 1.5rem;
}

.contact-icon .location-icon{
  height: 1.rem;
  margin-right: 12px;
}

.contact-ul{
  padding-left: 0;
}
